.mb0{margin-bottom: 0 !important;}
.pt0{padding-top: 0 !important;}

.required{color: red;}
.custom-alert{width: 500px; display: inline-block; margin-bottom: 0; padding: 5px 30px 5px 10px;}
.form-control{padding: 6px 5px;}
ul.token-input-list{width: 100%; padding: 5px; border: 1px solid #ccc;}
ul.token-input-list li{display: inline-block;}

.radioBtn .notActive{color: #3276b1; background-color: #fff;}
.row > .position-number > ul#serial > li{list-style-type: none; background: lightgray; padding: 5.35px 20px; margin-bottom: 2px;}
div.token-input-dropdown{z-index: 100;}

.btn-group-xs>.btn, .btn-xs {margin: 2px 0}

.content-header{
    padding: 0 0 0 10px;
}

.content-header .breadcrumb{
    float: none;
    position: initial;
    font-size: 20px;
    padding: 10px 7px;
}

.content{
    padding: 0 15px 15px;
}
