.red-text {
    color: red !important;
}

.news-video-icon {
    position: absolute;
    top: 13%;
    left: 93%;
    height: 17%;
    width: 9%;
    background: #ffffffdb;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: red !important;
    /*box-shadow: 0 0 30px 5px #6c0606 !important;*/
    border-radius: 50%;
    padding-left: 4px;
    font-size: 100%;
}

.cat3-block-media-heading {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 25px !important;
    line-height: 26px !important;
}

.cat-3-block-image {
    width: 50% !important;
}

/*For countdowm top*/
@media (max-width: 980px) {
    .remaining {
        font-size: 12px !important;
    }

    #countdown {
        padding: 0px 0px;
        background-color: rgba(255, 255, 255, .5);
        position: absolute;
        right: 4px;
        color: red !important;
        font-size: 16px !important;
        top: 32px !important;
        line-height: 15px !important;
        padding-right: 10px;
        font-weight: 700;
        border-radius: 4px;
    }

    .countdown-link {
        display: flex;
    }

    .padma-day {
        color: #222 !important;
        font-size: 12px !important;
        font-weight: normal;
    }

    #timerDay, #timerHour, #timerMinute, #timerSecond {
        font-size: 14px!important;
    }

    .inauguration img {
        height: 85px!important;
    }
}

/*Eid Special*/
.eid-special {
    background-color: #00427A;
    border-bottom: 2px solid #A8B6C1;
}

.special-box hr {
    width: 100%;
    height: 4px;
    background: #942824;
    margin-top: 0px!important;
    margin-bottom: 5px!important;
}

.eid_special_video_content_heading a {
    color: white!important;
}

.eid_special_video_content_heading a:hover {
    color: red!important;
}

.mobile-image {
    display: none;
}

.eid-video-title {
    margin-top: -6px;
    background-color: #3375af;
    border: 1px solid #3375af;
    margin-bottom: 5px;
}

.eid-video-title > .fa-play {
    position: absolute;
    top: 40%;
    left: 50%;
    height: 50px;
    width: 50px;
    background: rgba(0,0,0,.14);
    transform: translate(-50%,-50%);
    text-align: center;
    line-height: 38px;
    color: #fff;
    border-radius: 50%;
    padding-left: 4px;
    border: 5px solid #fff;
    -webkit-box-shadow: 0 0 30px 2px grey;
    -moz-box-shadow: 0 0 30px 2px gray;
    box-shadow: 0 0 30px 2px grey;
    opacity: .8;
    font-size: 20px;
}

@media (max-width: 500px) {
    .mobile-image {
        display: block;
    }

    .desktop-image {
        display: none;
    }
}
/*Eid Special End*/

/*Photo Gallery*/
.gallery-title {
    border-bottom: 3px solid #fff;
}

.gallery-title:hover {
    border-bottom: 3px solid #942824;
}

.gallery-title a {
    color: #fff;
    text-decoration: none;
}

.gallery-title a:hover {
    color: red;
    text-decoration: none;
}

.gallery-title h2 {
    margin-top: 0px!important;
}

.gallery-container {
    background-color: #00427A;
    color: #35373a;
    /*padding: 20px 50px;*/
    padding-top: 20px;
    padding-bottom: 20px;
}

.gallery {
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 20px;
    padding-bottom: 0px;
}

/* Override bootstrap column paddings */
.gallery .row > div {
    padding: 5px;
}

.gallery .image-box img {
    width: 100%;
    border-radius: 0;
}

.image-box {
    display: block;
    width: 100%;
    height: 100%;
}

.image-box {
    position:relative;
}
.overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,rgba(255, 255, 255, 0) 40%, rgba(0, 0, 0, 0.7) 70%,rgba(0, 0, 0, 1) 100%);
    opacity: 0.9;
    top: 0;
}

.img-title {
    position: absolute;
    bottom: 1%;
    color:white;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
}

.img-title-small {
    position: absolute;
    bottom: 1%;
    color:white;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 19px;
}

.image-icon {
    position: absolute;
    height: 30px;
    display: flex;
    width: 30px;
    background-color: #DE1818;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    left: 5px;
    top: 5px;
}

.image-icon i {
    color: #fff;
}

.image-box:hover .img-title {
    color: red;
}

.image-box:hover .img-title-small {
    color: red;
}

.image-box:hover .overlay {
    background: linear-gradient(to bottom,rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.5) 70%,rgba(255, 255, 255, 1) 100%);
}

@media(max-width: 768px) {
    .gallery {
        padding: 10px;
    }

    .special-top-video-box .row .col-sm-6 .media .media-body {
        border: none!important;
    }

    .special-top-video-box .row {
        border: none!important;
    }
}

@media(max-width: 960px) {
    .img-title {
        font-size: 20px!important;
    }

    .img-title-small {
        font-size: 20px!important;
    }
}

/*Gallery End*/

/*Video Section*/

.video-icon .fa {
    background-color: white!important;
    font-size: 40px!important;
    color: #f00c0c!important;
    text-shadow: 4px 4px 20px gray;
}

.special-top-video-section > a > .fa-play {
    color: red!important;
    border: 5px solid red!important;
    box-shadow: 0 0 30px 2px #6c0606!important;
}

.media:hover .fa{
    background-color: white!important;
    color: white!important;
}

.common-title {
    display: flex;
}
/*Video section End*/

.text-bold {
    font-weight: bold;
}

/*Poll Section*/
.en_bg {
    background-color: #eee !important;
}

.item .panel {
    background-color: white !important;
}

.MultiCarousel {
    float: left;
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    position: relative;
}

.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item > div {
    /*padding:10px;*/
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
    background: #f1f1f1;
    color: #262626;
}

.MultiCarousel .leftLst, .MultiCarousel .rightLst {
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 20px);
}

.MultiCarousel .leftLst {
    left: 0;
    height: 36px;
    width: 36px;
}

.MultiCarousel .rightLst {
    right: 0;
    height: 36px;
    width: 36px;
}

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
    pointer-events: none;
    background: #ccc;
}

.poll-title {
    font-size: 17px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

label.btn span {
    font-size: 15px;
}

label input[type="radio"] ~ i.fa.fa-circle-o {
    color: #404040;
    display: inline;
}

label input[type="radio"] ~ i.fa.fa-circle {
    display: none;
}

label input[type="radio"]:checked ~ i.fa.fa-circle-o {
    display: none;
}

label input[type="radio"]:checked ~ i.fa.fa-circle {
    color: #3375af;
    display: inline;
}

label:hover input[type="radio"] ~ i.fa {
    color: #3375af;
}

div[data-toggle="buttons"] {
    display: grid;
}

div[data-toggle="buttons"] label.active {
    color: #3375af;
}

.option {
    display: inline-block;
    padding: 6px 12px;
    background-color: #ecf4fb;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 2em;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    border-radius: 6px;
    color: #404040;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

div[data-toggle="buttons"] label:hover {
    color: #3375af;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.item .panel .panel-footer {
    background-color: white !important;
    border: none !important;
}

.btn_vote {
    width: 100%;
    border: none;
    font-size: 15px !important;
}

.btn_vote_share {
    width: 100%;
    background-image: linear-gradient(to right, #405DE6, #833AB4, #1DA1F2);
    color: white;
    border: none;
    font-size: 15px !important;
}

.btn_vote_share:hover {
    color: yellow;
}

.highest-voted {
    /*background-color: #c0dbf2!important;*/
    background-color: #d8edff !important;
}

.d-none {
    display: none;
}

.selected_option {
    background-color: white !important;
    border: 1px solid #1DA1F2 !important;
    pointer-events: none !important;
    opacity: 0.5 !important;
}

.item .panel {
    border: none;
}

/*Poll Section End*/