
.specialbottom_datetime{
    font-size:15px;
}
.p-heading h4 {
    min-height: 55px;

}
.p-body p {
    min-height: 68px;
}
.home-entertainment {
    min-height: 80px;

}
.home-lawcourt {
    min-height: 80px;
}

@media all and (max-width:1025px){
    .p-heading h4 {
        font-size: 18px;

    }
}
@media all and (max-width:721px){
    .single_sub .p-heading h4 {
        font-size: 16px;
    }
    .p-body p {
        font-size: 14px !important;
    }
    .home-entertainment h3 {
        font-size: 16px !important;
    }
    .home-lawcourt h3 {
        font-size: 16px !important;
    }
    .specialbottom_datetime {
        font-size: 14px !important;
    }
}

@media all and (max-width: 415px){
    .home-lawcourt {
        min-height: 80px;
    }
    .home-entertainment {
        min-height: 80px;
    }
    .p-heading {
        min-height: 82px;
        /* height: 100%; */
    }
    .p-body {
        /*height: 105px;*/
        height: 85px;
        margin-bottom: 9px;
    }
    .marginBottom20{
        margin-top: 8px;
    }


}

@media all and (max-width:385px){
    .home-lawcourt h3 {
        font-size: 14px !important;
    }
    .home-entertainment h3 {
        font-size: 14px !important;
    }
}
